<header>
    <div class="head-logo">
      <img src="/assets/images/bses-rajdhani.jpg" alt="BSES Rajdhani Logo" />
    </div>
    <div class="head-heading">
      <h1>Welcome</h1>
    </div>
    <div class="head-login-status">
      <h1>RPS</h1>
    </div>
  </header>
  
  <div class="container">
    <div class="img-cont">
      <img src="/assets/images/cont-1.png" alt="Login Illustration" />
    </div>
    <div class="login-cont">
      <div class="form">
        <!-- Login Form -->
        <div *ngIf="activeForm === 'login'">
          <form (ngSubmit)="onLogin()" #loginForm="ngForm" novalidate>
            <div class="form-row">
              <label for="username">
                Username<span class="required">*</span>
              </label>
              <input
                type="text"
                id="username"
                name="username"
                placeholder="Enter your unique username"
                [(ngModel)]="loginData.username"
                #username="ngModel"
                required
              />
              <div *ngIf="username.invalid && username.touched" class="error-msg">
                Username is required.
              </div>
            </div>
  
            <div class="form-row">
              <label for="password">
                Password<span class="required">*</span>
              </label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="xxxx-xxxx"
                [(ngModel)]="loginData.password"
                #password="ngModel"
                required
              />
              <div *ngIf="password.invalid && password.touched" class="error-msg">
                Password is required.
              </div>
            </div>
  
            <button type="submit" class="button-login" [disabled]="loginForm.invalid">
              LOGIN
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <footer>
    <div class="footer">
      <div class="fcomp">
        <p>© 2024 BSES Delhi. All Rights Reserved.</p>
      </div>
      <div class="fcompr">
        <div class="fcompm"><p>Disclaimer</p></div>
        <div class="fcompm"><p>Privacy policy</p></div>
        <div class="fcompm"><p>Sitemap</p></div>
        <div class="fcompm"><p>Useful Links</p></div>
        <div class="fcompm"><a [routerLink]="'/home'">Home</a></div>
      </div>
    </div>
  </footer>
  